  
  .login-box {
    width: 300px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: rgb(33, 33, 33);
  }
  
  .ion-title {
    color: white;
    font-family: 'Lucida Sans';
    text-align: center;
  }
  