<ion-header>
  <ion-toolbar>
    <ion-title>
      Galería de Imágenes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gallery-container">
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="https://lens-storage.storage.googleapis.com/png/5336bf66f2834ac0ad92d89bc52bbc0f"
            alt="Sephora logo"
            loading="lazy"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title> Welcome to Sephora Store </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button routerLink="/login" shape="round" color="primary"> Sign in </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
